[Unit]
Description=Generate SSH host keys if missing
Before=ssh.service ssh.socket
After=local-fs.target
ConditionPathExists=/usr/bin/ssh-keygen

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/ssh-keygen -A

[Install]
WantedBy=multi-user.target
